/* display */
.dp-n {
  display: none;
}
.dp-in {
  display: inline;
}
.dp-b {
  display: block;
}
.dp-ib {
  display: inline-block;
}
.dp-tb {
  display: table;
}
.dp-tc {
  display: table-cell;
}
.dp-f {
  display: flex;
}
.dp-g {
  display: grid;
}
